body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

figure {
  position: relative;
  width: 42vw;
  height: 50vh;
  margin: 0px auto;
  text-align: center;
}

iframe {
  position: absolute;
  top: 0;
  overflow: auto;
  display: block;
  height: 100%;
  width: 100%;
}

figcaption {
  position: absolute;
  bottom: 0;
  height: 10%;
  width: 100%;
}
