body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

figure {
  position: relative;
  width: 42vw;
  height: 50vh;
  margin: 0px auto;
  text-align: center;
}

iframe {
  position: absolute;
  top: 0;
  overflow: auto;
  display: block;
  height: 100%;
  width: 100%;
}

figcaption {
  position: absolute;
  bottom: 0;
  height: 10%;
  width: 100%;
}

.gridContainer {
  display: grid;
  grid-template-columns: auto auto;
  /* background-color: #2196F3; */
  justify-content: space-evenly;
}

.search {
  /* background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 20px;
  text-align: center;
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}

.lyrics {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  text-align: center;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.youtube {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  text-align: center;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  
}